@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #e6f3ff;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nprogress .bar {
  background: #1976d2;
  height: 3px;
  border-radius: 2px;
}
#nprogress .peg {
  box-shadow: 0 0 10px #1976d2, 0 0 5px #1976d2;
}
#nprogress .spinner {
  display: none;
}
