.main-content {
  padding: 24px;
  min-height: calc(100vh - 100px); /* phần còn lại sau Header/Breadcrumb */
  box-sizing: border-box;
  transition: all 0.3s ease;
}

/* Tablet */
@media (max-width: 1024px) {
  .main-content {
    padding: 16px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .main-content {
    padding: 12px;
  }
}
